<% var dlgId = 'articleEditDlg'%>

<div id="<%=dlgId%>" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Article</h4>
            </div>
            <div class="modal-body">
                <%-partial("../partials/articleEdit.ejs")%>
            </div>
            <div class="modal-footer text-right">
                <input class="btn btn-success" value="Save" type="button"/>
                <input class="btn btn-default" value="Cancel" data-dismiss="modal" type="button">
            </div>
        </div>
    </div>
    <script type="text/javascript">
        (function (){
            var dlg = $('#<%=dlgId%>').find('.modal-dialog'),
                form = dlg.find('form'),
                save = dlg.find('.modal-footer .btn-success');

            function initHandlers(){
                save.on('click', function(){
                    form.submit();
                });

                form.on('submitHandler', function(event, data){
                    dlg.mask('Loading...');
                    var xhr = new XMLHttpRequest();
                    xhr.open('post', '/article/save', true);
                    xhr.send(data);
                    xhr.onreadystatechange = function() {
                        $(form).unmask();
                        if (xhr.readyState == 4) {
                            if(xhr.status == 200) {
                                dlg.trigger('articleSaved', xhr.responseText ? JSON.parse(xhr.responseText) : null);
                            }
                        }
                        dlg.unmask();
                    };
                });
            }
            initHandlers();
        })();
    </script>
</div>