<%var articlesFeedPanelId = 'articlesList', articlesFeedItemTemplateId = 'articlesListItemTemplate'; %>

<div id="<%=articlesFeedPanelId%>" >
    <div class="ch-article-panel panel panel-default">
        <div class="panel-heading">
            Articles
        </div>
        <div class="ch-feed-actiles list-group">
        </div>
        <input class="btn btn-lg btn-default btn-block btn-link" value="Load More" type="button"/>
    </div>
    <script type="text/html" class="hidden" id="articlesFeedItemTmpl">
        <div class="list-group-item" data-readonly="${readonly}">
            <div class="content-col">
                <div class="list-group-item-heading row">
                    <div class="col-lg-6"><strong class="panel-title">${title}</strong><a href="/article/${id}">view article</a></div>
                    <div class="col-lg-6 author-label">Created by <a href="profile/${userId}"><strong>${author}</strong></a></div>
                </div>
                <p class="list-group-item-text">${content}</p>
            </div>
            <div class="author-rate">
                <select>
                    {{each [0,1,2,3,4,5,6,7,8,9]}}
                        <option value="${$value}" ${$item.isSelected(rating, $value)}>${$value}</option>
                    {{/each}}
                </select>
            </div>
        </div>
    </script>

    <script type="text/javascript">
        var articlesFeedStartDate = Date.now();
        function initArticleFeed(){
            var articlesPanel = $('#<%=articlesFeedPanelId%>'),
                articlesList = articlesPanel.find('.list-group'),
                articleLoadBtn = articlesPanel.find('.btn');

            articleLoadBtn.on('click', function(){
                bindArticleFeed(articlesList.find('.list-group-item').length);
            });
        };
        function bindArticleFeed(startIndex){
            var articlesPanel = $('#<%=articlesFeedPanelId%>'),
                articlesList = articlesPanel.find('.list-group'),
                articleLoadBtn = articlesPanel.find('.btn'),
                articlesTpl = articlesPanel.find('#articlesFeedItemTmpl');

            $.ajax('/article/findByLessThenDate', {
                type: "POST",
                data: {
                    startdate: articlesFeedStartDate,
                    startIndex: startIndex || 0,
                    pageSize: 5
                },
                statusCode: {
                    200: function (data) {
                        $(articlesTpl.tmpl(data, {
                            isSelected:function(rating, index){
                                return rating == index ? 'selected' : '';
                            }
                        })
                        .appendTo(articlesList))
                        .find('select')
                        .barrating({
                            theme: 'bars-movie',
                            readonly: <%=!user%>,
                            onSelect: function(value, text, event) {
                                if (typeof(event) !== 'undefined') {
                                    var item = $(event.target).closest('.list-group-item');
                                        id = $.tmplItem(item).data.id;
                                    item.mask('Loading...');
                                    $.ajax('/article/setUserRate', {
                                        type: "POST",
                                        data: {rate: value, id: id },
                                        statusCode: {
                                            200: function (data) {
                                                $(event.target).closest('.author-rate').find('select').barrating('set', data);
                                            },
                                            403: function () {
                                            }
                                        }
                                    }).always(function () {
                                        item.unmask();
                                    });
                                }
                            }
                        });
                        if(data.length == 0){
                            articleLoadBtn.prop("disabled",true);
                        }
                    }
                }
            }).always(function () {
                articlesList.unmask();
            })
        };
        initArticleFeed();
        bindArticleFeed();
    </script>
</div>