html, body{
  height: 100%;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}

a:hover {
  cursor:pointer;
}

.navbar-link:hover{
  color: white;
}

.error{
  color: #b92c28;
}

.navbar-nav{
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar-text {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .navbar-text {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media (min-width: 768px){
  .navbar-right {
    margin-right: 5px;
  }
}

.modal-backdrop{
  z-index: 0;
}

.ch-container {
  padding-right: 0px;
  padding-left: 0px;
  height: 100%;
  position: relative;
  z-index: 0;
}

.ch-wrapper{
  height: auto !important;
  min-height: 100%;
  margin-bottom: -50px;
  padding-bottom: 50px;
}

.ch-wrapper::before {
  content: '';
  display: block;
  border-radius: 6px 6px 0px 0px;
  background-color: lavender;
  position: absolute;
  top: 90px;
  bottom: 0px;
  width: 100%;
  z-index: -1;
}

@media only screen and (max-width: 532px) {
  .ch-wrapper::before{
    top: 50px;
  }
}

.ch-header {
  padding: 20px 0px 20px 0px;
}

@media only screen and (max-width: 532px) {
  .ch-header {
    padding: 0px;
  }
}

.ch-center {
  border-radius: 6px 6px 0px 0px;
  background-color: lavender;
  padding: 15px;
}

.ch-footer {
  background-color:darkslategray;
  border-radius: 0px 0px 6px 6px;
  height: 50px;
  color:white;
  padding: 10px;
  text-align: center;
}

@media only screen and (max-width: 532px) {
  .ch-footer {
    border-radius: 0px;
  }
}

.ch-chat-messages-list {
  margin-top: 20px;
  margin-bottom: 0px;
  overflow: auto;
  background-color: #f7f7f7;
  min-height:100px;
}

.ch-chat-messages-list .list-group-item{
  border-radius: 0px;
}

.ch-fit-container{
  height: 100%;
}

.ch-top-navbar {
  background-image:url("../images/header-bg.png");
  border-radius: 6px;
  margin: 0px;
  border: none;
  overflow: hidden;
}

.ch-top-navbar .navbar-link,
.ch-top-navbar .navbar-text,
.ch-top-navbar .navbar-nav li a {
  color:#fff;
}

.ch-top-navbar .navbar-nav li a:hover{
  color: #1b6d85;
}

.ch-top-navbar .icon-bar{
  background-color: white;
}

@media only screen and (max-width: 532px) {
  .ch-top-navbar {
    border-radius: 0px;
  }
}

.ch-article-panel{

}

.ch-article-list .list-group-item {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.ch-article-list .list-group-item > div{
  display: table-cell;
}

.ch-article-list .list-group-list-content{
  width: 100%;
}

.ch-article-list .list-group-list-content p {
  text-overflow: ellipsis;
  overflow: hidden;
}

.ch-article-list .ch-article-list-edit {
  vertical-align: middle;
}

.ch-article-list .list-group-item-heading {
  white-space: nowrap;
}

.ch-article-list .list-group-item-text {
  white-space: nowrap;
}
.ch-article-list .ch-article-list-edit{
  width: 45px;
}
.ch-article-list .ch-article-list-edit span {
 padding-right: 5px ;
}



