html, body{
  height: 100%;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}

a {
  cursor: pointer;
}

a:hover {
  cursor:pointer;
}

.navbar-link:hover{
  color: white;
}

.error {
  color: #b92c28;
}

.navbar-nav{
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar-text {
  margin-top: 10px;
  margin-bottom: 10px;
}

.loadmask-msg
{
  margin-top:-5px;
}

@media (min-width: 768px) {
  .navbar-text {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media (min-width: 768px){
  .navbar-right {
    margin-right: 5px;
  }
}

.ch-file-upload{
  overflow: hidden;
  position: relative;
}

.ch-file-upload input[type=file]{
  display: block;
  width: 9999px;
  height: 9999px;
  right: 0px;
  top: 0px;
  position: absolute;
  border: 0px;
  opacity: 0;
}

/*-----Layout page-----*/

.ch-container {
  padding-right: 0px;
  padding-left: 0px;
  height: 100%;
  position: relative;
}

.ch-wrapper{
  height: auto !important;
  min-height: 100%;
  margin-bottom: -50px;
  padding-bottom: 50px;
  overflow: hidden;
}

.ch-header {
  background-image:url("../images/header-bg.png");
}

@media only screen and (max-width: 532px) {
  .ch-header {
    padding: 0px;
  }
}

.ch-center {
  padding: 0px;
}

@media only screen and (min-width: 1200px) {
  .ch-center {
    padding: 10px;
    background-color:#f9f9f9;
    position: relative;
  }

  .ch-center::before {
    content: '';
    display: block;
    border-radius: 6px 6px 0px 0px;
    background-color:#f9f9f9;
    position: absolute;
    width: 100%;
    height: 9999px;
    z-index: -1;
    top: 0px;
    left: 0px;
  }
}

.ch-footer {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#28a4c9+0,1f749b+100 */
  background: #28a4c9; /* Old browsers */
  background: -moz-linear-gradient(top,  #28a4c9 0%, #1f749b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #28a4c9 0%,#1f749b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #28a4c9 0%,#1f749b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28a4c9', endColorstr='#1f749b',GradientType=0 ); /* IE6-9 */

  height: 50px;
  color:white;
  padding: 10px;
  text-align: center;
}

.ch-top-navbar {
  margin: 0px;
  border: none;
  overflow: hidden;
}

.ch-top-navbar .navbar-brand,
.ch-top-navbar .navbar-link,
.ch-top-navbar .navbar-text,
.ch-top-navbar .navbar-nav li a {
  color:#fff;
}

.ch-top-navbar .navbar-nav li a:hover{
  color: #1b6d85;
}

.ch-top-navbar .navbar-nav li a.nav-selected {
  background-color: #eee;
  color: #1b6d85;;
}

.ch-top-navbar .icon-bar{
  background-color: white;
}

@media only screen and (max-width: 532px) {
  .ch-top-navbar {
    border-radius: 0px;
  }
}

/*-------Bootstrap------*/

.panel {
  border-radius: 0px;
  box-shadow: 0px 0px 15px -5px black;
  border: none;
}

.panel-default > .panel-heading{
  border: none;
  border-radius: 0px;
}

.panel-body{
  padding: 8px 15px;
}

.panel-footer,
.panel-default > .panel-footer{
  border: none;
  border-radius: 0px;
}

.form-group{
  margin-bottom: 8px;
}

/*-----Generic styles----*/

.ch-data-empty{
  display: table;
  width: 100%;
  min-height:30px;
}

.ch-data-empty .ch-data-empty-message{
  display: table-cell;
  vertical-align: middle;
  padding: 15px;
}

.panel-body .ch-data-empty .ch-data-empty-message {
  padding: 0px;
}

.ch-data-empty-message{
  display: none;
}

/*-----Profile page-----*/

.ch-profileinfo-panel .form-group .form-control{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ch-profileinfo-panel .panel-body{
  padding-bottom: 0px;
}

.ch-profile-actiles-list .panel {
  margin-bottom: 5px;
  margin-top: 5px;
}

.ch-profile-actiles-list .glyphicon {
  padding-right: 10px ;
}

.ch-profile-actiles-list .glyphicon:last-child{
  padding-right: 0px;
}

.ch-profile-actiles-list .panel-body{
  height:70px;
  overflow: hidden;
}

/*-----Feed article list-----*/

.ch-feed-list{
  margin-bottom: 0px;
}

.ch-feed-list .ch-feed-list-item {
  padding: 5px;
}

@media (min-width: 1200px) {
  .ch-feed-list .ch-feed-list-item{
    margin-bottom: 10px;
    padding: 10px 10px 0px 10px;
  }
}

.ch-feed-list .panel {
  margin-bottom: 0px;
  border:none;
}

.ch-feed-list .panel-footer{
  background-color: transparent;
}

@media (min-width: 1200px) {
  .ch-feed-list .panel {
    box-shadow: 0px 0px 12px -3px black;
  }
}

.ch-feed-list .ch-feed-content {
  height: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  z-index: 1;
}

.ch-feed-list .ch-feed-author {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ch-feed-list .ch-feed-rate strong{
  color: #b92c28;
}
.ch-feed-list .ch-feed-rate .glyphicon {
  position: relative;
  top: 2px;
  padding-left: 3px;
}

@media (min-width: 1200px){
  .ch-feed-list .ch-feed-rate{
    float: right;
  }
}

@media (min-width: 1200px) {
  .ch-feed-list .ch-feed-author {
    text-align: right;
  }
}

/* Bar rate style*/

.br-theme-bars-movie .br-widget a {
  display: block;
  width: 20px;
  height: 5px;
}

.br-theme-bars-movie .br-widget .br-current-rating {
  display: none;
}

/*-------Comments---------*/

.ch-comments-list{
  min-height:40px;
}

.ch-comments-list .photo-col {
  padding-right: 10px;
  width: 50px;
}

.ch-comments-list .photo-col img {
  width: 100%;
}

.ch-comments-list .content-col {
  background-color: #f3f3f3;
  border-radius: 3px;
  padding: 0px 10px;
}

.ch-comments-list .content-col p {
  min-height:50px;
  padding-top: 5px;
}

.ch-comments-list .content-col-header{
  border-bottom: 1px solid lightgray;
  padding: 3px 0px;
}

.ch-comments-list .ch-comments-list-item {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 8px;
}

.ch-comments-list .ch-comments-list-item > div{
  display: table-cell;
  vertical-align: top;
}

/*--------Profile Info --------*/

.ch-profileinfo-panel .panel-body {
  padding-bottom: 0px;
}

.ch-profile-article-panel.ch-profile-article-panel--readonly .glyphicon-plus,
.ch-profile-article-panel.ch-profile-article-panel--readonly .edit-col {
  display: none;
}

/*------Articles Panel------*/

.ch-article-panel .panel-body {
  min-height:100px;
}

.ch-article-panel .panel-heading {
  position: relative;
}

.ch-article-panel .ch-article-raiting {
  position: absolute;
  right: 10px;
  top: 16px;
}
