html, body{
  height: 100%;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}

a {
  cursor: pointer;
}

a:hover {
  cursor:pointer;
}

.navbar-link:hover{
  color: white;
}

.error {
  color: #b92c28;
}

.navbar-nav{
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar-text {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .navbar-text {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media (min-width: 768px){
  .navbar-right {
    margin-right: 5px;
  }
}

/*-----Layout page-----*/

.ch-container {
  padding-right: 0px;
  padding-left: 0px;
  height: 100%;
  position: relative;
}

.ch-wrapper{
  height: auto !important;
  min-height: 100%;
  margin-bottom: -50px;
  padding-bottom: 50px;
}

.ch-wrapper::before {
  content: '';
  display: block;
  border-radius: 6px 6px 0px 0px;
  background-color:#f9f9f9;
  position: absolute;
  top: 90px;
  bottom: 0px;
  width: 100%;
  z-index: -1;
}

@media only screen and (max-width: 532px) {
  .ch-wrapper::before{
    top: 50px;
  }
}

.ch-header {
  /*padding: 20px 0px 20px 0px;*/
}

@media only screen and (max-width: 532px) {
  .ch-header {
    padding: 0px;
  }
}

.ch-center {
  /*border-radius: 6px 6px 0px 0px;*/
  padding: 10px;
  background-color:#f9f9f9;
}

.ch-footer {
  background-color:#eea236;
  /*border-radius: 0px 0px 6px 6px;*/
  height: 50px;
  color:white;
  padding: 10px;
  text-align: center;
}

/*@media only screen and (max-width: 532px) {
  .ch-footer {
    border-radius: 0px;
  }
}*/


.ch-top-navbar {
  background-image:url("../images/header-bg.png");
  margin: 0px;
  border: none;
  overflow: hidden;
}

.ch-top-navbar .navbar-link,
.ch-top-navbar .navbar-text,
.ch-top-navbar .navbar-nav li a {
  color:#fff;
}

.ch-top-navbar .navbar-nav li a:hover{
  color: #1b6d85;
}

.ch-top-navbar .icon-bar{
  background-color: white;
}

@media only screen and (max-width: 532px) {
  .ch-top-navbar {
    border-radius: 0px;
  }
}

/*-----Profile page-----*/

.ch-profileinfo-panel .form-group .form-control{
  white-space: nowrap;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ch-article-panel.ch-article-panel--readonly .glyphicon-plus,
.ch-article-panel.ch-article-panel--readonly .edit-col{
  display: none;
}

.ch-profile-actiles .list-group-item {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 10px;
}

.ch-profile-actiles .list-group-item > div {
  display: table-cell;
  vertical-align: middle;
}

.ch-profile-actiles .content-col {
  width: 100%;
}

.ch-profile-actiles .content-col p {
  text-overflow: ellipsis;
  overflow: hidden;
}

.ch-profile-actiles .edit-col{
  width: 50px;
  text-align: right;
}

.ch-profile-actiles .edit-col .glyphicon {
  padding-right: 10px ;
}

.ch-profile-actiles .edit-col .glyphicon:last-child{
  padding-right: 0px;
}

/*-----Home page-----*/

.ch-feed-actiles .list-group-item {
  display: table;
  table-layout: fixed;
  width: 100%;
  position: relative;
  padding: 10px;
}

.ch-feed-actiles .list-group-item > div{
  display: table-cell;
  vertical-align: middle;
}

.ch-feed-actiles .content-col {
  width: 100%;
}

.ch-feed-actiles .content-col p {
  height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom:20px;
}

.ch-feed-actiles .content-col a{
  padding-left: 10px;
}

.ch-feed-actiles .photo-col {
  padding-right: 10px;
  width: 115px;
}

.ch-feed-actiles .photo-col img{
  width: 100%;
}

.ch-feed-actiles .author-rate{
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.br-theme-bars-movie .br-widget a {
  display: block;
  width: 20px;
  height: 5px;
}

.br-theme-bars-movie .br-widget .br-current-rating {
  display: none;
}

