<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <% if(NODE_ENV == 'development') { %>
            <link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="/vendor/bower_components/jquery-loadmask/jquery.loadmask.css" />
            <link rel="stylesheet" href="/vendor/bower_components/jquery-bar-rating/dist/themes/bars-movie.css">
            <link rel="stylesheet" href="/css/style.css" />

            <script type="text/javascript" src="/vendor/bower_components/date.format/date.format.js"></script>

            <script type="text/javascript" src="/vendor/bower_components/jquery/dist/jquery.js"></script>
            <script type="text/javascript" src="/vendor/bower_components/jquery-loadmask/jquery.loadmask.min.js"></script>
            <script type="text/javascript" src="/vendor/bower_components/jquery-validation/dist/jquery.validate.js"></script>
            <script type="text/javascript" src="/vendor/bower_components/jquery-tmpl/jquery.tmpl.js"></script>
            <script type="text/javascript" src="/vendor/bower_components/jquery-confirm/jquery.confirm.js"></script>
            <script type="text/javascript" src="/vendor/bower_components/jquery-bar-rating/jquery.barrating.js"></script>

            <script type="text/javascript" src="/vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>

            <script type="text/javascript" src="/js/script.js"></script>


        <% } else { %>
            <link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.min.css" />
            <link rel="stylesheet" href="/vendor/bower_components/jquery-loadmask/jquery.loadmask.css" />
            <link rel="stylesheet" href="/vendor/bower_components/jquery-bar-rating/dist/themes/bars-movie.css">
            <link rel="stylesheet" href="/css/style.css" />

            <script type="text/javascript" src="/vendor/bower_components/date.format/date.format.js"></script>

            <script type="text/javascript" src="/vendor/bower_components/jquery/dist/jquery.min.js"></script>
            <script type="text/javascript" src="/vendor/bower_components/jquery-loadmask/jquery.loadmask.min.js"></script>
            <script type="text/javascript" src="/vendor/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
            <script type="text/javascript" src="/vendor/bower_components/jquery-tmpl/jquery.tmpl.min.js"></script>
            <script type="text/javascript" src="/vendor/bower_components/jquery-confirm/jquery.confirm.min.js"></script>
            <script type="text/javascript" src="/vendor/bower_components/jquery-bar-rating/dist/jquery.barrating.min.js"></script>

            <script type="text/javascript" src="/vendor/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

            <script type="text/javascript" src="/js/script.js"></script>
        <% } %>
    </head>
    <body>

            <div class="ch-wrapper">
                <div class="ch-header">
                    <div class="container">
                        <%-partial("../partials/header.ejs")%>
                    </div>
                </div>
                <div class="ch-center container">
                    <%-body%>
                </div>
            </div>
            <div class="ch-footer">Footer container</div>

    </body>
</html>